<section class="about">
  <div class="about__content row">
    <div class="about__info-wrapper">
      <div class="about__ava-wrapper">
        <img class="about__ava" src="/assets/images/ava.jpg" alt="" />
      </div>

      <div class="about__info">
        <h3 class="about__title">About</h3>

        <p class="about__description">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
          aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
          qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
          dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
          quia non numquam eius modi tempora incidunt ut labore et dolore magnam
          aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
          exercitationem ullam corporis suscipit laboriosam.
        </p>
      </div>
    </div>

    <div class="about__contacts">
      <div class="about__contacts-details">
        <h3 class="about__contacts-title">Contact Details</h3>
        <p class="about__contacts-text">Igor Gudelis</p>
        <a class="about__contacts-text _link" href="tel:+375297688083"
          >+375 29 7688083
        </a>
        <a
          class="about__contacts-text _link"
          href="mailto:igors.gudelis@gmail.com?subject=We are hiring"
          target="_blank"
        >
          igors.gudelis@gmail.com
        </a>
      </div>

      <a
        class="about__cv-btn btn _white _with-icon"
        href="/assets/files/igor.gudelis.pdf"
        download
        (click)="onDownloadCV()"
      >
        <span class="btn__icon">
          <app-svg-icon icon="download"></app-svg-icon>
        </span>
        <span class="btn__text"> download cv </span>
      </a>
    </div>
  </div>
</section>
