<section class="about">
  <div class="about__content row">
    <div class="about__info-wrapper">
      <div class="about__ava-wrapper">
        <img class="about__ava" src="/assets/images/ava.jpg" alt="" />
      </div>

      <div class="about__info">
        <h3 class="about__title">About</h3>

        <p class="about__description">
          Over 5 years of work experience(Angular - 4 years). Citizenship:
          Republic of Lithuania. Entrepreneur registered in Spain. Not ready for
          relocation. Work experience in a multilingual team and communication
          with an English-speaking customer. Demonstrable ability to learn,
          adapt, share and integrate knowledge across workgroups. I can work
          both in a team and independently. Self-sufficient in the development
          of assigned tasks, detail-oriented, disciplined, and motivated.
        </p>
      </div>
    </div>

    <div class="about__contacts">
      <div class="about__contacts-details">
        <h3 class="about__contacts-title">Contact Details</h3>
        <p class="about__contacts-text">Ihar Hudelis</p>
        <a class="about__contacts-text _link" href="tel:+34633640978"
          >+34 633 640 978
        </a>
        <a
          class="about__contacts-text _link"
          href="mailto:igors.gudelis@gmail.com?subject=We are hiring"
          target="_blank"
        >
          igors.gudelis@gmail.com
        </a>
      </div>

      <a
        class="about__cv-btn btn _white _with-icon"
        href="/assets/files/ihar.hudelis.pdf"
        download
        (click)="onDownloadCV()"
      >
        <span class="btn__icon">
          <app-svg-icon icon="download"></app-svg-icon>
        </span>
        <span class="btn__text"> download cv </span>
      </a>
    </div>
  </div>
</section>
