<div class="info-section" [class._with-end-line]="endLine" *ngIf="info">
  <div class="info-section__column-right">
    <h3 class="info-section__title">{{ info.title }}</h3>
  </div>
  <div class="info-section__column-left">
    <div class="info-section__item" *ngFor="let item of info.items">
      <h4 class="info-section__item-title">{{ item.title }}</h4>

      <p class="info-section__item-info">
        <span
          class="info-section__item-main-label"
          [class._with-point]="item.label"
        >
          {{ item.mainLabel }}
        </span>
        <span class="info-section__item-label" *ngIf="item.mainLabel">
          {{ item.label }}
        </span>
      </p>

      <p class="info-section__item-tech-stack" *ngIf="item.techStack">
        <span class="info-section__item-tech-stack-label">Tech stack:</span>
        {{ item.techStack }}
      </p>

      <p
        class="info-section__item-text"
        [class._just-text]="!item.title && !item.mainLabel"
        [innerHTML]="item.text"
      ></p>

      <div class="info-section__item-ng-content">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
