<app-dialog *ngIf="item" (closeDialog)="onClose()">
  <div class="work-card-dialog">
    <header class="work-card-dialog__header">
      <img class="work-card-dialog__img" [src]="item.srcDialog" />
    </header>

    <div class="work-card-dialog__body">
      <h3 class="work-card-dialog__title">{{ item.title }}</h3>

      <p class="work-card-dialog__text">
        {{ item.text }}
      </p>

      <p class="work-card-dialog__label">
        <app-svg-icon class="work-card-dialog__icon" icon="tag"></app-svg-icon>
        <span class="work-card-dialog__label-text">{{ item.label }}</span>
      </p>
    </div>
  </div>
</app-dialog>
