<div class="slider-container">
  <div class="slider" #slider>
    <div class="slider__list" #sliderList>
      <div
        class="slider__item"
        [style.--item-width]="slideWidth + 'px'"
        *ngFor="let item of items"
      >
        <img
          class="slider__img"
          *ngIf="!itemTmpl; else itemCustomTmpl"
          [src]="item.imgSrc"
          alt=""
        />

        <ng-template #itemCustomTmpl>
          <ng-container
            *ngTemplateOutlet="itemTmpl; context: { item: item }"
          ></ng-container>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="slider__actions">
    <ng-container *ngIf="screenService.screen !== ScreenWidth.MOBILE">
      <button
        class="slider__btn _icon-only _rounded"
        type="button"
        (click)="onClickPrev()"
      >
        <app-svg-icon
          class="slider__actions-icon"
          icon="arrow-left"
        ></app-svg-icon>
      </button>

      <button
        class="slider__btn _icon-only _rounded"
        type="button"
        (click)="onClickNext()"
      >
        <app-svg-icon
          class="slider__actions-icon"
          icon="arrow-right"
        ></app-svg-icon>
      </button>
    </ng-container>

    <div class="slider__bullets">
      <span
        class="slider__bullet"
        [class._active]="i === activeBulletPosition"
        *ngFor="let item of itemsDefault; index as i"
        (click)="onBulletClick(i)"
      ></span>
    </div>
  </div>
</div>
