<div class="slider-container">
  <div class="slider">
    <div class="slider__list" #sliderList>
      <div
        class="slider__item"
        [style.--item-width]="slideWidth + 'px'"
        *ngFor="let item of items"
      >
        <img
          class="slider__img"
          *ngIf="!itemTmpl; else itemCustomTmpl"
          [src]="item.imgSrc"
          alt=""
        />

        <ng-template #itemCustomTmpl>
          <ng-container
            *ngTemplateOutlet="itemTmpl; context: { item: item }"
          ></ng-container>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="slider__actions">
    <button
      class="slider__btn _icon-only _rounded"
      type="button"
      (click)="onClickPrev()"
    >
      <app-svg-icon
        class="slider__actions-icon"
        icon="arrow-left"
      ></app-svg-icon>
    </button>

    <button
      class="slider__btn _icon-only _rounded"
      type="button"
      (click)="onClickNext()"
    >
      <app-svg-icon
        class="slider__actions-icon"
        icon="arrow-right"
      ></app-svg-icon>
    </button>
  </div>
</div>
