@import "colors";
@import "vars";

:host {
  display: block;
}

.slider-container {
  width: 100%;
  position: relative;
}

.slider {
  width: 100%;
  overflow: hidden;
}

.slider__list {
  display: flex;
  width: 12000px;
  align-items: center;
  margin: 0 auto;

  &:not(._no-transition) {
    transition: transform 300ms ease-in-out;
  }
}

.slider__item {
  flex-shrink: 0;
  width: var(--item-width);
  padding-left: 80px;
  padding-right: 80px;
  transition: transform $transition-data;
}

.slider__img {
  width: 100%;
  object-fit: cover;
}

.slider__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slider__btn {
  width: 64px;
  height: 64px;
  border: none;
  color: $color-white;
  background-color: $color-black-100-50;
  transition: color $transition-data, background-color $transition-data;
  cursor: pointer;

  &:hover {
    color: $color-white-100-50;
    background-color: $color-black-100-30;
  }

  &._icon-only {
    padding: 16px;
  }

  &._rounded {
    border-radius: 50%;
  }
}
