@import "vars";

:host {
  display: block;
}

.slider-container {
  width: 100%;
  position: relative;
}

.slider {
  width: 100%;
  overflow: hidden;
}

.slider__list {
  display: flex;
  width: 12000px;
  align-items: center;
  margin: 0 auto;

  &:not(._no-transition) {
    transition: transform 300ms ease-in-out;
  }
}

.slider__item {
  flex-shrink: 0;
  width: var(--item-width);
  transition: transform $transition-data;
}

.slider__img {
  width: 100%;
  object-fit: cover;
}

.slider__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: -64px;
  left: 50%;
  transform: translateX(-50%);
}

.slider__btn {
  width: 64px;
  cursor: pointer;
}
