<div class="slider-container">
  <div class="slider">
    <div class="slider__list" #sliderList>
      <div
        class="slider__item"
        [style.--item-width]="slideWidth + 'px'"
        *ngFor="let item of items"
      >
        <img
          class="slider__img"
          *ngIf="!itemTmpl; else itemCustomTmpl"
          [src]="item.imgSrc"
          alt=""
        />

        <ng-template #itemCustomTmpl>
          <ng-container
            *ngTemplateOutlet="itemTmpl; context: { item: item }"
          ></ng-container>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="slider__actions">
    <button class="slider__btn _prev" (click)="onClickPrev()">Prev</button>
    <button class="slider__btn _next" (click)="onClickNext()">Next</button>
  </div>
</div>
