<section class="home">
  <div class="home__bg" #homeBg></div>

  <div
    class="home__content"
    *ngIf="isHomeContentVisible"
    [@showBottomToTop]="{
      value: ':enter',
      params: { translateY: 'translateY(50%)' }
    }"
  >
    <h1 class="home__title">I'm Ihar Hudelis.</h1>

    <p class="home__text">
      Front-End Developer with 6 years of experience in developing new software
      functionalities and updating existing software.
      <br />
      Let's start scrolling and learn more about me.
    </p>

    <app-info-social
      class="home__info-social"
      [items]="INFO_SOCIAL"
    ></app-info-social>

    <div class="home__scroll" (click)="onScrollToSection()">
      <div class="home__scroll-icon-wrapper">
        <app-svg-icon
          class="home__scroll-icon"
          icon="arrow-bottom"
        ></app-svg-icon>
      </div>
      <p class="home__scroll-text">scroll down</p>
    </div>
  </div>
</section>
