<section class="home">
  <div class="home__bg" #homeBg></div>

  <div
    class="home__content"
    *ngIf="isHomeContentVisible"
    [@showBottomToTop]="{
      value: ':enter',
      params: { translateY: 'translateY(50%)' }
    }"
  >
    <h1 class="home__title">I'm Igor Gudelis.</h1>
    <p class="home__text">
      Front-end Developer with more than four years of experience in developing
      new software functionalities and updating existing software.
      <br />
      Let's start scrolling and learn more about me.
    </p>
  </div>
</section>
