@import "colors";
@import "mixins";
@import "text";
@import "vars";

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.home__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("/assets/images/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-black-100-50;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      360deg,
      $color-black 15%,
      rgba(0, 0, 0, 0) 100%
    );
    opacity: 0.4;
  }
}

.home__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  padding-left: $padding-mobile-layout;
  padding-right: $padding-mobile-layout;
  padding-bottom: 40px;

  @include respond-to($small) {
    padding-bottom: 80px;
  }
}

.home__title,
.home__text {
  text-align: center;
}

.home__title {
  @include h3;

  margin-top: auto;
  color: $color-white;

  @include respond-to($medium) {
    @include h2;
  }

  @include respond-to($large) {
    @include h1;
  }
}

.home__text {
  margin-top: 24px;
  color: $color-white-100-50;

  @include respond-to($large) {
    @include p1;
  }
}

.home__info-social {
  position: relative;
  margin-top: 64px;

  ::ng-deep .info-social {
    &::before {
      content: "";
      height: 1px;
      position: absolute;
      top: -32px;
      left: -24px;
      right: -24px;
      background-color: $color-gray-17;
    }
  }
}

.home__scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  color: $color-white;
  cursor: pointer;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      .home__scroll-text {
        color: $color-2;

        &::before {
          width: 100%;
        }
      }
    }

    &:active {
      .home__scroll-text {
        color: $color-2-light;
      }
    }
  }
}

.home__scroll-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: 2px solid;
  border-radius: 50%;
}

.home__scroll-icon {
  width: 24px;
  height: 24px;
}

.home__scroll-text {
  @include label3;

  position: relative;
  margin-left: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: color $transition-data;

  &::before {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $color-white;
    transition: $transition-data;
  }
}
