@mixin h1 {
  font-size: 75px;
  line-height: 88px;
}

@mixin h2 {
  font-size: 65px;
  line-height: 76px;
}

@mixin h3 {
  font-size: 46px;
  line-height: 56px;
}

@mixin h4 {
  font-size: 31px;
  line-height: 40px;
}

@mixin h5 {
  font-size: 28px;
  line-height: 35px;
}

@mixin p1 {
  font-size: 20px;
  line-height: 33px;
}

@mixin p2 {
  font-size: 18px;
  line-height: 32px;
}

@mixin p3 {
  font-size: 16px;
  line-height: 28px;
}

@mixin label1 {
  font-size: 15px;
  line-height: 28px;
}

@mixin label2 {
  font-size: 13px;
  line-height: 22px;
}

@mixin label3 {
  font-size: 11px;
  line-height: 22px;
}
