<main class="app">
  <header class="app__header">
    <app-navigation
      [offsetToFixed]="offsetToNavFixed"
      [navItems]="navItems"
      (navigate)="onNavigate($event)"
    ></app-navigation>
  </header>

  <app-home [isHomeContentVisible]="!isLoading" #home></app-home>

  <app-about #about></app-about>

  <app-testimonials #testimonials></app-testimonials>

  <div class="app__preloader" *ngIf="isPreloaderVisible">
    <div
      class="app__preloader-overlay"
      *ngIf="isLoading"
      @hidePreloaderOverlay
      (@hidePreloaderOverlay.done)="onHidePreloaderOverlayAnimationDone($event)"
    ></div>
    <svg class="app__preloader-svg" *ngIf="isLoading" @hidePreloaderCircle>
      <circle class="app__preloader-circle _outer" cx="32" cy="32" r="24" />
      <circle class="app__preloader-circle _inner" cx="32" cy="32" r="24" />
    </svg>
  </div>
</main>

<app-scroll-button [offset]="offsetToNavFixed" (scrolling)="onScrollToTop()">
</app-scroll-button>

<app-icons-definition></app-icons-definition>
