<div class="dialog">
  <ng-container *ngIf="dialogVisibilityState">
    <div
      class="dialog__backdrop"
      @dialogOpenClose
      (@dialogOpenClose.done)="onDialogOpenCloseAnimationDone($event)"
      (click)="onClose()"
    ></div>

    <button class="dialog__close-btn" @dialogOpenClose (click)="onClose()">
      <app-svg-icon icon="close"></app-svg-icon>
    </button>
  </ng-container>

  <section
    class="dialog__content"
    *ngIf="dialogVisibilityState"
    @dialogContentFadeInOut
  >
    <ng-content></ng-content>
  </section>
</div>
