@import "colors";
@import "mixins";
@import "text";
@import "vars";

:host {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.dialog {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dialog__backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color-gray-18;
}

.dialog__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  color: $color-white;
  background-color: transparent;
  transition: color $transition-data;
  cursor: pointer;

  @include respond-to($medium) {
    top: 16px;
    right: 16px;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $color-gray-6;
    }

    &:active {
      color: $color-gray-8;
    }
  }
}

.dialog__content {
  height: 80vh;
  position: relative;
  margin-left: 16px;
  margin-right: 16px;
}
