@import "colors";
@import "mixins";
@import "text";
@import "vars";

:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__item {
  @include label1;

  color: $color-white-100-50;
  transition: color $transition-data;
  cursor: pointer;

  &:not(:first-child) {
    margin-left: 16px;
  }

  &:hover {
    color: $color-white;
  }
}
