@import "colors";
@import "mixins";
@import "text";
@import "vars";

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  background-image: url("/assets/images/testimonials-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include respond-to($small) {
    height: 900px;
  }

  @include respond-to($medium) {
    height: 820px;
  }

  @include respond-to($large) {
    height: 1000px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-gray-19;
    opacity: 0.8;
  }
}

.testimonials__title {
  @include h5;

  width: 100%;
  position: relative;
  color: $color-white;
  text-align: center;

  @include respond-to($medium) {
    @include h4;
  }

  @include respond-to($large) {
    @include h4;
  }
}

.testimonials__slider {
  width: 100%;
  max-width: 1080px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.testimonials__slider-item {
  display: flex;
  flex-direction: column;
}

.testimonials__slider-item-header {
  display: flex;
  width: 100%;

  @include respond-to($small) {
    flex-direction: column;
    align-items: center;
  }
}

.testimonials__slider-item-img {
  width: 56px;
  height: 56px;
  border-radius: 50%;

  @include respond-to($medium) {
    width: 64px;
    height: 64px;
  }

  @include respond-to($large) {
    width: 64px;
    height: 64px;
  }
}

.testimonials__slider--item-info {
  @include respond-to($small) {
    width: 100%;
    margin-top: 12px;
  }

  @include respond-to($medium) {
    margin-left: 24px;
  }

  @include respond-to($large) {
    margin-left: 24px;
  }
}

.testimonials__slider-item-name {
  font-weight: bold;
  color: $color-white;

  @include respond-to($small) {
    @include label1;

    text-align: center;
  }

  @include respond-to($medium) {
    @include p2;
  }

  @include respond-to($large) {
    @include p2;
  }
}

.testimonials__slider-item-position {
  color: $color-white-100-50;

  @include respond-to($small) {
    @include label3;

    text-align: center;
    color: $color-white-100-60;
  }

  @include respond-to($medium) {
    @include label2;
  }

  @include respond-to($large) {
    @include label2;
  }
}

.testimonials__slider-item-text {
  @include p2;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  margin-top: 24px;
  color: $color-white-100-80;
  word-break: break-word;
  overflow: hidden;

  @include respond-to($small) {
    text-align: center;
  }
}
