@import "colors";
@import "mixins";
@import "text";
@import "vars";

.resume {
  padding-top: 64px;
  padding-bottom: 64px;

  @include respond-to($medium) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
